<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.itcast.mydongpin3">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.talk.TalkSettingActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ui.sort.ProductSortActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.shop.ShopActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.goods.GoodsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.talk.TalkActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.chat.ChatActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.main.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sotia.mydongpin.ui.search.SearchActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.sotia.mydongpin.ui.login.SingleLoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.sotia.mydongpin.ui.login.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.sotia.mydongpin.ui.scan.ScanActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.toolbox.ToolBoxActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.main.drawer.AboutUsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.main.drawer.IdentityAuthActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.main.drawer.PersonInforActicity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.main.drawer.SettingActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.main.drawer.UserAuthAcitivty"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>